body {
	margin: 0px;
	padding: 0px;
}

#banner {
	width: 100%;
	height: auto;
}

#navbarIcon {
	width: 40px;
	padding: 10px;
	margin-left: -20px;
	padding-right: 10px;
}

.navbar ul {
	list-style-type: none;
	background-color: #333333;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -4px;

	/*
		No se porque la entre la navbar y el banner hay un hueco,
		el margin-top arregla eso pero me gustaria saber que es lo
		que lo causa para no tener que arreglarlo manualmente y poder
		evitarme problemas a futuro

	*/
}

.navbar a {
	/*
		Buscar la forma de que el padding de los elementos
		de la navbar se ajusten  automaticamente para no tener
		que ajustar el padding manualmente.
	*/

	color: white;
  font-size: 20px;
	padding: 24px;
  text-decoration: none;
}

.navbar a:hover {
	background-color: hsl(0, 0%, 0%);
	opacity: 0.8;
	transition: 0.3s;
}

.mainPage {
	margin-top: -20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#mainTitle {
	font-size: 60px;
	margin: 20px;
  text-decoration: underline;
  text-align: center;
	font-style: italic;
  font-family: 'Playfair Display', serif;
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}

.quoteConteiner {
	width: 500px;
  margin: auto;
}

.quoteblock {
	background-color: gray;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;

	font-size: 20px;
	color: white;
	text-align: center;
}
